<link rel='stylesheet' href='/CSS/glitchText.css'>

<video autoplay muted loop id='binaryBackground'>
    <source src='/Images/blueBackground.mp4' type='video/mp4'>
</video>

<div class='flexCenter erNameHeader alignEnd'>
    <h1 class='glitch' data-text='{{UN}}'>{{UN}}</h1>
</div>

<div class='convoContainer'>
    {{#each convos}}
    {{#if ../A}}
    <a href='/carmack/{{this.ERID}}/{{this.CHID}}'>
        {{else}}
        <a href='/er/{{this.ERID}}/ch/{{this.CHID}}'>
            {{/if}}
            <div class='convoBox'>
                <div class='flexCenter'>
                    <div>{{this.CH}}</div>
                </div>
                <div class='recentMessage'>{{this.RM}}</div>
                <div class='bottomLine'>
                    <div>{{this.D}}</div>
                </div>
            </div>
        </a>
        {{/each}}
</div>