<link rel='stylesheet' href='/CSS/glitchText.css'>

<video autoplay muted loop id='binaryBackground'>
    <source src='/Images/blueBackground.mp4' type='video/mp4'>
</video>

<div class='flexCenter erNameHeader alignEnd'>
    <h1 class='glitch' data-text='Message with {{CHUN}}'>Message with {{CHUN}}</h1>
</div>

<div class='messageLog' id='messageLog'>
    {{#each messageLog}}
    {{#if this.CU}}
    <div class='pcMessage message'>{{this.M}}</div>
    {{else}}
    <div class='npcMessage message'>
        <div class='messageName'>{{../CHUN}}</div>
        {{this.M}}
    </div>
    {{/if}}
    {{/each}}
</div>

<div class='inputButtonContainer'>
    <input type='hidden' id='ERUN' value={{ERUN}}>
    <input type='hidden' id='CHUN' value={{CHUN}}>
    <textarea name='erMsg' id='erMsg' class='matrixInput topZIndex messageInput'></textarea>
    <div class='flexCenter'>
        <button id='submitMessage' class='matrixButton topZIndex messageButton'>Submit</button>
    </div>
    <div class='flexCenter'>
        <a href='/er/{{DID}}'>
            <button class='matrixButton topZIndex messageButton'>Back to ER Home</button>
        </a>
    </div>
</div>

<script src='/JS/message.js'></script>